<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h6>We received a password reset request from <%= @user.firstname %>,</h6>
   
    <p>If you are not the one that requested this, then kindly log in and reset your password, otherwise, copy the code below and past it onto the site and you are good to go.</p> 
    <%= @user.reset_password_token %>
  </body>
</html>